.fotocard {
    height: 290px;
    display: block;
    align-items: center;
    justify-content: center;
}

.picker {
    width: 100%;
    border: none !important;
    display: block !important;
    justify-content: center;
    align-items: center;
}