.ilistrounded {
    border-radius: 5px!important;
    margin-left: 15px;
    margin-right: 15px;
}

.check {
    left: 22px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    max-height: 46px;
}