<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="salir()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <img src="./assets/imgs/logo-zs.png" alt="" class="navbar-img">
        <ion-title>Aviso de Servicios</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content class="animated fadeIn">

    <ion-card style="margin-top: 15px;">
        <ion-card-header mode='ios' style="padding-top: 10px; padding-bottom: 10px;">
            <ion-card-subtitle>Código : {{ producto.codigo }}</ion-card-subtitle>
            <ion-card-subtitle>{{ producto.descrip }} </ion-card-subtitle>
            <ion-card-title class="ion-text-center">
                <h3>Datos a Avisar</h3>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content style="padding-top: 5px; padding-bottom: 10px;">
            <ion-list style="border-radius: 10px;">
                <ion-item>
                    <ion-label minlength="7" position="fixed">Email</ion-label>
                    <ion-input readonly type="email" name="email" [(ngModel)]="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="fixed">Nombre</ion-label>
                    <ion-input readonly type="nombre" name="nombre" [(ngModel)]="nombre"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="fixed">Teléfono</ion-label>
                    <ion-input readonly type="text" name="fono" [(ngModel)]="fono"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label style="width:225px;max-width:225px;">Kilometraje en su marcador? </ion-label>
                    <ion-input clearOnEdit="true" class="ion-text-right" type="text" name="cantidadKM" [(ngModel)]="cantidadKM"></ion-input>
                </ion-item>
                <ion-item class="requerido">
                    <ion-label>Avisar en...</ion-label>
                    <ion-select name="dias" [(ngModel)]="dias" interface="popover" mode="ios">
                        <ion-select-option *ngFor="let p of periodos" value="{{ p.cantidad }}">{{ p.dias }}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="fixed" style="width:150px;min-width:150px;">Observaciones</ion-label>
                    <ion-textarea type="text" name="observaciones" [(ngModel)]="observaciones"></ion-textarea>
                </ion-item>
            </ion-list>
            <ion-progress-bar *ngIf=" enviando " type="indeterminate"></ion-progress-bar>
            <ion-button size="small" expand="block" (click)="enviarAviso()" style="margin-top:18px;">
                <ion-icon slot="start" name="notifications"></ion-icon>
                Activar el Aviso de Servicio
            </ion-button>

        </ion-card-content>
    </ion-card>
    <ion-card style="margin-top: 10px;">
        <ion-card-content style="padding-top: 5px;padding-bottom: 10px;">
            <p class="ion-text-justify" style="font-size:80%;">Esta opción permite activar una alarma en el servidor de Avisos, el cual indicará al cliente en la fecha señalada con un correo recordándole el proximo servicio.</p>
        </ion-card-content>
    </ion-card>

</ion-content>