<ion-header>
    <ion-toolbar color="dark">
        <img src="./assets/imgs/logo-zs.png" alt="" class="navbar-img">
        <ion-title>Tareas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Labores disponibles de registro de datos</ion-card-subtitle>
            <!-- <ion-card-title>Labores</ion-card-title> -->
        </ion-card-header>
        <ion-card-content>
            <ion-button (click)="medidasNuevas()" expand="block">
                Medidas nuevas
            </ion-button>
            <ion-button (click)="adjuntarRecepciones()" expand="block" style="margin-top:15px;">
                Adjuntar recepciones
            </ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>