<ion-tabs scrollable="true">

    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="inicio">
            <ion-icon name="list-outline"></ion-icon>
            <ion-label>Productos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="miconfig">
            <ion-icon name="settings-outline"></ion-icon>
            <ion-label>Ajustes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="carrito">
            <ion-icon name="cart-outline"></ion-icon>
            <ion-label>Mi carro</ion-label>
            <ion-badge color="danger">{{ count | async }}</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="tareas" *ngIf=" !baseLocal.user.esuncliente ">
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>Tareas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="usuario" *ngIf=" !baseLocal.user.esuncliente ">
            <ion-icon name="happy-outline"></ion-icon>
            <ion-label>Mi Cuenta</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="salida" *ngIf=" baseLocal.user.esuncliente ">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label>Salir</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>