<ion-header>
    <ion-toolbar color="dark">
        <ion-title class="ion-text-center">
            App ZS Motor
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="margin-left: 15px; margin-right: 15px;">
    <img src="assets/imgs/logo-001.png" alt="" class="logo-001" (click)="entrar()">

    <p style="font-size: 90%; margin-left: 15px; margin-right: 15px; text-align: justify;"><b>
        Toma de pedidos, con lectura de códigos de barra (code-39, code-128, QR, etc). Conexion automática al ERP Random. Actualización on-line. Click sobre el logo para ingresar.
    </b></p>

    <img src="assets/imgs/logo-kinetik.png" alt="" class="logo-kinetik" (click)="entrar()">

    <p style="font-size: 75%; text-align: center;" class="sistema2">v5.0.1 2021-02-23</p>

    <!-- <button type="button" class="ad2hs-prompt" *ngIf="showButton" (click)="addToHomeScreen()">Instalar aplicación Web</button>
    <div class="ios-prompt" *ngIf="showIosInstall" (click)="showIosInstall = false;">
        <span style="color: rgb(187, 187, 187); float: right; margin-top: -10px; margin-right: -7px;">&times;</span>
        <img src="assets/imgs/add2home.svg" style="float: left; height: 80px; width: auto; margin-top: -4px; margin-right: 1rem;">
        <p style="margin-top: 0.4rem; line-height: 1.8rem;">Para instalar esta aplicación Web en tu iPhone/iPad presiona <img src="assets/imgs/share.svg" style="display: inline-block; margin-top: 4px; margin-bottom: -4px; height: 20px; width: auto;"> y luego Agregar a Inicio.</p>
    </div> -->

</ion-content>