with 
CORMON as ( select KOPRCT as codigo,PPPRNE PM_CORR,PPPRPM from MAEDDO as DDO with (nolock) WHERE TIDO='GRI' AND NUDO='SM15141575' ),
PM_MAX as ( select KOPRCT,MAX(PPPRPM) as DIN_MAX_PM       from MAEDDO as DDO with (nolock) WHERE DDO.KOPRCT IN ( select codigo from CORMON ) group by KOPRCT),
PM_MIN as ( select KOPRCT,MIN(PPPRPM) as DIN_MIN_PM       from MAEDDO as DDO with (nolock) WHERE DDO.KOPRCT IN ( select codigo from CORMON ) group by KOPRCT),
P_2017 as ( select KOPR,PP01UD as PPMCHE_17               from TABPRE as PRE with (nolock) WHERE PRE.KOLT='VAL' AND PRE.KOPR IN ( select codigo from CORMON ) ),
D_MAX_2017 as ( select KOPRCT,MONTH(FEEMLI) as MES,MAX(PPPRPM) as D_MAX_PM   from MAEDDO as DDO with (nolock) WHERE YEAR(DDO.FEERLI)=2017 AND DDO.KOPRCT IN ( select codigo from CORMON ) group by KOPRCT,MONTH(FEEMLI)),
D_MIN_2017 as ( select KOPRCT,MONTH(FEEMLI) as MES,MIN(PPPRPM) as D_MIN_PM   from MAEDDO as DDO with (nolock) WHERE YEAR(DDO.FEERLI)=2017 AND DDO.KOPRCT IN ( select codigo from CORMON ) group by KOPRCT,MONTH(FEEMLI)),
D_MAX_2018 as ( select KOPRCT,MONTH(FEEMLI) as MES,MAX(PPPRPM) as D_MAX_PM   from MAEDDO as DDO with (nolock) WHERE YEAR(DDO.FEERLI)=2018 AND DDO.KOPRCT IN ( select codigo from CORMON ) group by KOPRCT,MONTH(FEEMLI)),
D_MIN_2018 as ( select KOPRCT,MONTH(FEEMLI) as MES,MIN(PPPRPM) as D_MIN_PM   from MAEDDO as DDO with (nolock) WHERE YEAR(DDO.FEERLI)=2018 AND DDO.KOPRCT IN ( select codigo from CORMON ) group by KOPRCT,MONTH(FEEMLI))
select PR.KOPR as codigo,
       PR.NOKOPR as descripcion,  
       PR.PM as PM_HOY,
	   CORMON.PPPRPM as PM_CORMON,
	   P_2017.PPMCHE_17,
	   DIN_MAX_PM,
	   DIN_MIN_PM,
	   (CASE WHEN (DIN_MAX_PM<>0  AND DIN_MIN_PM<> 0) then (DIN_MAX_PM+DIN_MIN_PM)/2 ELSE (DIN_MAX_PM+DIN_MIN_PM) END) as media_falsa,
	   ((DIN_MAX_PM+DIN_MIN_PM)/2)-PPMCHE_17 as difer,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=1) as max_pm01,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=1) as min_pm01,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=2) as max_pm02,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=2) as min_pm02,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=3) as max_pm03,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=3) as min_pm03,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=4) as max_pm04,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=4) as min_pm04,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=5) as max_pm05,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=5) as min_pm05,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=6) as max_pm06,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=6) as min_pm06,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=7) as max_pm07,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=7) as min_pm07,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=8) as max_pm08,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=8) as min_pm08,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=9) as max_pm09,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=9) as min_pm09,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=10) as max_pm10,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=10) as min_pm10,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=11) as max_pm11,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=11) as min_pm11,
	   (select D_MAX_PM from D_MAX_2017 WHERE KOPRCT=PR.KOPR and MES=12) as max_pm12,
	   (select D_MIN_PM from D_MIN_2017 WHERE KOPRCT=PR.KOPR and MES=12) as min_pm12,
	   (select D_MAX_PM from D_MAX_2018 WHERE KOPRCT=PR.KOPR and MES=1) as max_pm01,
	   (select D_MIN_PM from D_MIN_2018 WHERE KOPRCT=PR.KOPR and MES=1) as min_pm01,
	   (select D_MAX_PM from D_MAX_2018 WHERE KOPRCT=PR.KOPR and MES=2) as max_pm02,
	   (select D_MIN_PM from D_MIN_2018 WHERE KOPRCT=PR.KOPR and MES=2) as min_pm02,
	   (select D_MAX_PM from D_MAX_2018 WHERE KOPRCT=PR.KOPR and MES=3) as max_pm03,
	   (select D_MIN_PM from D_MIN_2018 WHERE KOPRCT=PR.KOPR and MES=3) as min_pm03,
	   (select D_MAX_PM from D_MAX_2018 WHERE KOPRCT=PR.KOPR and MES=4) as max_pm04,
	   (select D_MIN_PM from D_MIN_2018 WHERE KOPRCT=PR.KOPR and MES=4) as min_pm04,
	   (select D_MAX_PM from D_MAX_2018 WHERE KOPRCT=PR.KOPR and MES=5) as max_pm05,
	   (select D_MIN_PM from D_MIN_2018 WHERE KOPRCT=PR.KOPR and MES=5) as min_pm05
from MAEPR AS PR with(nolock)
inner join CORMON on CORMON.codigo = PR.KOPR
left  join PM_MAX on PM_MAX.KOPRCT = PR.KOPR
left  join P_2017 on P_2017.KOPR   = PR.KOPR
left  join PM_MIN on PM_MIN.KOPRCT = PR.KOPR
--where PR.KOPR in ('NE20550170005','NE23570160006','NE23575150011')


